<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
   <add key="_pkgs" value="./_pkgs" />
 </packageSources>
  <config>
    <add key="signatureValidationMode" value="require" />
    <add key="globalPackagesFolder" value="%USERPROFILE%\.nuget\TrustedPackages" />
  </config>
  
  <trustedSigners>
    
    <repository name="NuGet.org" serviceIndex="https://api.nuget.org/v3/index.json">
      <certificate fingerprint="0e5f38f57dc1bcc806d8494f4f90fbcedd988b46760709cbeec6f4219aa6157d" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <owners>Microsoft</owners>
    </repository>
    
    <author name="Rido_CA_">
      <certificate fingerprint="518F74AE79E44C7451FB5013E63D46BFF967A11AA13CD8F4586C57059AE900C9"
                   hashAlgorithm="SHA256" allowUntrustedRoot="false" />
    </author>
    
    <author name="Ringo">
      <certificate fingerprint="F6B6EF6F6A9C60BC4B0A181A140C8CF1BA849B30C500FDD44F77A4C1672904B3"
                    hashAlgorithm="SHA256" allowUntrustedRoot="true" />
    </author>
    
  </trustedSigners>
  
</configuration>
